<!DOCTYPE html>

<html>
    <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="referrer"content="always">
    <meta name="msvalidate.01" content="3189512127C34C46BC74BED5852D45E4" />
    <title>人工智能-CSDN</title>
</head>

    <!-- nodata 第三栏接口无数据时样式不变 -->
<body class="nodata " > 
    <link rel="stylesheet" href="https://csdnimg.cn/public/common/toolbar/content_toolbar_css/content_toolbar.css">
    <script id="toolbar-tpl-scriptId" src="https://csdnimg.cn/public/common/toolbar/js/content_toolbar.js" type="text/javascript" domain="https://blog.csdn.net/"></script>
<link rel="stylesheet" href="https://csdnimg.cn/release/phoenix/vendor/pagination/paging.css">
<header>
	<div class="container d-flex clearfix" style="background-image: ">
		<div class="title-box">
			<h1 class="title-blog">
				<a href="https://blog.csdn.net/yang731227">Clown95</a>
			</h1>
			<p class="description"></p>
		</div>
		<div class="opt-box d-flex justify-content-end">
			<a class="btn btn-sm" href="https://blog.csdn.net/yang731227/rss/list">
					<svg class="icon" aria-hidden="true">
						<use xlink:href="#csdnc-rss"></use>
					</svg>RSS订阅</a>
					</div>
	</div>
	</header>
<script src="https://dup.baidustatic.com/js/ds.js"></script>
<div class="container clearfix pt0" id="mainBox">
    <main>
      <div class="filter-box d-flex align-items-center">
    <div class="breadcrumbs-box">
    <a href="https://blog.csdn.net/yang731227">全部文章</a><span class="ml8 mr8">></span>              beego                </div>
    <dl class="filter-sort-box d-flex align-items-center">
    <dt>排序：</dt>
    <dd><a href="javascript:void(0);" class="btn-filter-sort active" target="_self">默认</a></dd>
    <dd><a href="https://blog.csdn.net/yang731227/article/category/7994348?orderby=UpdateTime" class="btn-filter-sort " target="_self">按更新时间</a></dd>
    <dd><a href="https://blog.csdn.net/yang731227/article/category/7994348?orderby=ViewCount" class="btn-filter-sort " target="_self">按访问量</a></dd>
  </dl>
</div>



<div class="article-list">
    
    <div class="article-item-box csdn-tracking-statistics" style="display: none;" data-articleid="82762601">
        <h4 class="">
            <a href="https://blog.csdn.net/yoyo_liyy/article/details/82762601" target="_blank">
            <span class="article-type type-1">原</span>帝都的凛冬</a>
        </h4>
        <p class="content">
            <a href="https://blog.csdn.net/yoyo_liyy/article/details/82762601" target="_blank">
                各种AI、人工智能、大数据如秋日凉爽的风，杳然erzhi；区块链的风头得到短暂的下降。

                此次山竹台风造成了多少伤亡和破坏？人民的生命和财产遭受重大损失
            </a>
        </p>
        <div class="info-box d-flex align-content-center">
            <p>
                <span class="date">2018-12-08 10:01:38</span>
            </p>
            <p>
                <span class="read-num">阅读数：13</span>
            </p>
            <p>
                <span class="read-num">评论数：2</span>
            </p>
        </div>
    </div>
  <div class="article-item-box csdn-tracking-statistics" data-articleid="82714663">
        <h4 class="">
        <a href="https://blog.csdn.net/yang731227/article/details/82714663" target="_blank">
        <span class="article-type type-1">
            原        </span>
        Beego脱坑（十五）——View设计      </a>
    </h4>
    <p class="content">
      <a href="https://blog.csdn.net/yang731227/article/details/82714663" target="_blank">
        在我们在前面介绍多种格式数据输出的时候 ，简单的介绍了下动态模板输出，我们再来回顾一下。


	简单演示
	

&amp;amp;lt;!-- hello.html --&amp;amp;gt;
&amp;amp;lt;!DOCTYPE html&amp;amp;gt;
&amp;amp;lt;h...      </a>
    </p>
    <div class="info-box d-flex align-content-center">
      <p>
        <span class="date">2018-09-15 16:23:14</span>
      </p>
      <p>
        <span class="read-num">阅读数：67</span>
      </p>
      <p>
        <span class="read-num">评论数：0</span>
      </p>
    </div>
      </div>
  <div class="article-item-box csdn-tracking-statistics" data-articleid="82709820">
        <h4 class="">
        <a href="https://blog.csdn.net/yang731227/article/details/82709820" target="_blank">
        <span class="article-type type-1">
            原        </span>
        Beego脱坑（十四）——ORM之原始SQL语      </a>
    </h4>
    <p class="content">
      <a href="https://blog.csdn.net/yang731227/article/details/82709820" target="_blank">
        使用SQL语句进行查询

使用 Raw SQL 查询，无需使用 ORM 表定义
	多数据库，都可直接使用占位符号 ?，自动转换
	查询时的参数，支持使用 Model Struct 和 Slice, Array
 


	简单演示
	

insOrm:=orm.NewOrm()
var user m...      </a>
    </p>
    <div class="info-box d-flex align-content-center">
      <p>
        <span class="date">2018-09-14 23:08:31</span>
      </p>
      <p>
        <span class="read-num">阅读数：159</span>
      </p>
      <p>
        <span class="read-num">评论数：0</span>
      </p>
    </div>
      </div>
  <div class="article-item-box csdn-tracking-statistics" data-articleid="82503059">
        <h4 class="">
        <a href="https://blog.csdn.net/yang731227/article/details/82503059" target="_blank">
        <span class="article-type type-1">
            原        </span>
        Beego脱坑（十三）——ORM之复杂操作      </a>
    </h4>
    <p class="content">
      <a href="https://blog.csdn.net/yang731227/article/details/82503059" target="_blank">
        ORM 以 QuerySeter 来组织查询，每个返回 QuerySeter 的方法都会获得一个新的 QuerySeter 对象。


	基本使用方法
	

//创建Orm对象
o := orm.NewOrm()
// 获取 QuerySeter 对象，user 为表名
qs := o.Query...      </a>
    </p>
    <div class="info-box d-flex align-content-center">
      <p>
        <span class="date">2018-09-14 22:39:02</span>
      </p>
      <p>
        <span class="read-num">阅读数：444</span>
      </p>
      <p>
        <span class="read-num">评论数：0</span>
      </p>
    </div>
      </div>
  <div class="article-item-box csdn-tracking-statistics" data-articleid="82502313">
        <h4 class="">
        <a href="https://blog.csdn.net/yang731227/article/details/82502313" target="_blank">
        <span class="article-type type-1">
            原        </span>
        Beego脱坑（十二）——ORM之基本操作      </a>
    </h4>
    <p class="content">
      <a href="https://blog.csdn.net/yang731227/article/details/82502313" target="_blank">
         


	 User表
	
我们回顾下上篇文章，写的User模型


type Users struct {
	Id  int   `pk orm:&amp;quot;column(id)&amp;quot;`
	Name string  ` orm:&amp;quot;column(name);...      </a>
    </p>
    <div class="info-box d-flex align-content-center">
      <p>
        <span class="date">2018-09-07 21:35:52</span>
      </p>
      <p>
        <span class="read-num">阅读数：66</span>
      </p>
      <p>
        <span class="read-num">评论数：0</span>
      </p>
    </div>
      </div>
  <div class="article-item-box csdn-tracking-statistics" data-articleid="82315733">
        <h4 class="">
        <a href="https://blog.csdn.net/yang731227/article/details/82315733" target="_blank">
        <span class="article-type type-1">
            原        </span>
        Beego脱坑（十一）——ORM之创建表      </a>
    </h4>
    <p class="content">
      <a href="https://blog.csdn.net/yang731227/article/details/82315733" target="_blank">
         beego ORM 是一个强大的 Go 语言 ORM 框架.

已支持数据库驱动：

MySQL：github.com/go-sql-driver/mysql
	PostgreSQL：github.com/lib/pq
	Sqlite3：github.com/mattn/go-sqlite3
当...      </a>
    </p>
    <div class="info-box d-flex align-content-center">
      <p>
        <span class="date">2018-09-07 09:01:42</span>
      </p>
      <p>
        <span class="read-num">阅读数：228</span>
      </p>
      <p>
        <span class="read-num">评论数：0</span>
      </p>
    </div>
      </div>
  <div class="article-item-box csdn-tracking-statistics" data-articleid="82312818">
        <h4 class="">
        <a href="https://blog.csdn.net/yang731227/article/details/82312818" target="_blank">
        <span class="article-type type-1">
            原        </span>
        Beego脱坑（十）——数据绑定      </a>
    </h4>
    <p class="content">
      <a href="https://blog.csdn.net/yang731227/article/details/82312818" target="_blank">
        
	绑定普通变量
	

var str string
this.Ctx.Input.Bind(&amp;amp;amp;str, &amp;quot;str&amp;quot;)

当我们在浏览器输入http://localhost:8080/databind?str=123，即把123赋值给变量...      </a>
    </p>
    <div class="info-box d-flex align-content-center">
      <p>
        <span class="date">2018-09-02 09:29:01</span>
      </p>
      <p>
        <span class="read-num">阅读数：89</span>
      </p>
      <p>
        <span class="read-num">评论数：0</span>
      </p>
    </div>
      </div>
  <div class="article-item-box csdn-tracking-statistics" data-articleid="82288542">
        <h4 class="">
        <a href="https://blog.csdn.net/yang731227/article/details/82288542" target="_blank">
        <span class="article-type type-1">
            原        </span>
        Beego脱坑（九）——文件上传、下载      </a>
    </h4>
    <p class="content">
      <a href="https://blog.csdn.net/yang731227/article/details/82288542" target="_blank">
        
	文件上传 
	
 依然是先创建一个模板：


&amp;amp;lt;!DOCTYPE html&amp;amp;gt;
&amp;amp;lt;html lang=&amp;quot;en&amp;quot;&amp;amp;gt;
&amp;amp;lt;head&amp;amp;gt;
...      </a>
    </p>
    <div class="info-box d-flex align-content-center">
      <p>
        <span class="date">2018-09-01 19:16:11</span>
      </p>
      <p>
        <span class="read-num">阅读数：133</span>
      </p>
      <p>
        <span class="read-num">评论数：0</span>
      </p>
    </div>
      </div>
  <div class="article-item-box csdn-tracking-statistics" data-articleid="82288067">
        <h4 class="">
        <a href="https://blog.csdn.net/yang731227/article/details/82288067" target="_blank">
        <span class="article-type type-1">
            原        </span>
        Beego脱坑（八）——获取表单数据和表单数据解析到结构体      </a>
    </h4>
    <p class="content">
      <a href="https://blog.csdn.net/yang731227/article/details/82288067" target="_blank">
        
	获取表单数据
	
在前面第五章我们演示了用表单获取登录数据。

现在我们再来详细的模拟下注册信息的获取。

首先新建一个注册register模板


&amp;amp;lt;!DOCTYPE html&amp;amp;gt;
&amp;amp;lt;html lang=&amp;quot;en...      </a>
    </p>
    <div class="info-box d-flex align-content-center">
      <p>
        <span class="date">2018-09-01 16:40:43</span>
      </p>
      <p>
        <span class="read-num">阅读数：409</span>
      </p>
      <p>
        <span class="read-num">评论数：0</span>
      </p>
    </div>
      </div>
  <div class="article-item-box csdn-tracking-statistics" data-articleid="82287084">
        <h4 class="">
        <a href="https://blog.csdn.net/yang731227/article/details/82287084" target="_blank">
        <span class="article-type type-1">
            原        </span>
        Beego脱坑（七）——多种格式数据输出      </a>
    </h4>
    <p class="content">
      <a href="https://blog.csdn.net/yang731227/article/details/82287084" target="_blank">
        
	直接输出 
	
直接输出我们前面一直在用，通过beego.Controller.Ctx.WriteString()方法可以直接向http response body中输出字符串。

例如：


this.Ctx.WriteString(&amp;quot;hello world&amp;quo...      </a>
    </p>
    <div class="info-box d-flex align-content-center">
      <p>
        <span class="date">2018-09-01 15:21:29</span>
      </p>
      <p>
        <span class="read-num">阅读数：116</span>
      </p>
      <p>
        <span class="read-num">评论数：0</span>
      </p>
    </div>
      </div>
  <div class="article-item-box csdn-tracking-statistics" data-articleid="82263125">
        <h4 class="">
        <a href="https://blog.csdn.net/yang731227/article/details/82263125" target="_blank">
        <span class="article-type type-1">
            原        </span>
        Beego脱坑（六）——cookie和session      </a>
    </h4>
    <p class="content">
      <a href="https://blog.csdn.net/yang731227/article/details/82263125" target="_blank">
        Cookie

1.Http是无状态的协议，服务器不能记录浏览器的访问状态，也就是服务器不能区分两次请求是否是来自同一个客户端。

2.Cookie实际上是服务器保存在浏览器上的一段信息，浏览器有了Cookie之后，每次向服务器发送请求都会带着该信息进行访问，服务器在收到请求之后，就可以通过该信息...      </a>
    </p>
    <div class="info-box d-flex align-content-center">
      <p>
        <span class="date">2018-09-01 14:41:39</span>
      </p>
      <p>
        <span class="read-num">阅读数：377</span>
      </p>
      <p>
        <span class="read-num">评论数：0</span>
      </p>
    </div>
      </div>
  <div class="article-item-box csdn-tracking-statistics" data-articleid="82254010">
        <h4 class="">
        <a href="https://blog.csdn.net/yang731227/article/details/82254010" target="_blank">
        <span class="article-type type-1">
            原        </span>
        Beego脱坑（五）——Controller      </a>
    </h4>
    <p class="content">
      <a href="https://blog.csdn.net/yang731227/article/details/82254010" target="_blank">
        Controller

controller就是处理具体的逻辑的，router将请求分发到指定的controlller，controller处理请求，然后返回。

基于 beego 的 Controller 设计，只需要匿名组合 beego.Controller 就可以了，如下所示：


type...      </a>
    </p>
    <div class="info-box d-flex align-content-center">
      <p>
        <span class="date">2018-08-31 21:00:55</span>
      </p>
      <p>
        <span class="read-num">阅读数：128</span>
      </p>
      <p>
        <span class="read-num">评论数：0</span>
      </p>
    </div>
      </div>
  <div class="article-item-box csdn-tracking-statistics" data-articleid="82253319">
        <h4 class="">
        <a href="https://blog.csdn.net/yang731227/article/details/82253319" target="_blank">
        <span class="article-type type-1">
            原        </span>
        Beego脱坑（四）——Router      </a>
    </h4>
    <p class="content">
      <a href="https://blog.csdn.net/yang731227/article/details/82253319" target="_blank">
         Router

路由的主要功能是实现从请求地址到实现方法，beego中封装了Controller，所以路由是从路径到ControllerInterface的过程。ControllerInterface 拥有很多方法，其中包括 Init、Prepare、Post、Get、Delete、Head 等...      </a>
    </p>
    <div class="info-box d-flex align-content-center">
      <p>
        <span class="date">2018-08-31 20:57:28</span>
      </p>
      <p>
        <span class="read-num">阅读数：191</span>
      </p>
      <p>
        <span class="read-num">评论数：0</span>
      </p>
    </div>
      </div>
  <div class="article-item-box csdn-tracking-statistics" data-articleid="82252016">
        <h4 class="">
        <a href="https://blog.csdn.net/yang731227/article/details/82252016" target="_blank">
        <span class="article-type type-1">
            原        </span>
        Beego脱坑（三）——新建Beego项目      </a>
    </h4>
    <p class="content">
      <a href="https://blog.csdn.net/yang731227/article/details/82252016" target="_blank">
        新建Beego项目

使用new 命令
      </a>
    </p>
    <div class="info-box d-flex align-content-center">
      <p>
        <span class="date">2018-08-31 11:01:52</span>
      </p>
      <p>
        <span class="read-num">阅读数：129</span>
      </p>
      <p>
        <span class="read-num">评论数：0</span>
      </p>
    </div>
      </div>
  <div class="article-item-box csdn-tracking-statistics" data-articleid="82251649">
        <h4 class="">
        <a href="https://blog.csdn.net/yang731227/article/details/82251649" target="_blank">
        <span class="article-type type-1">
            原        </span>
        Beego脱坑（二）——Beego的安装      </a>
    </h4>
    <p class="content">
      <a href="https://blog.csdn.net/yang731227/article/details/82251649" target="_blank">
        Beego的安装


	配置环境变量
	
上一章说过Beego是基于go语言的快速开发框架，且作者设定了新项目只能生成在$GOPATH/src目录下，所以我们必须要配置好GOPATH 和GOROOT。GOROOT位置是go编译器所在位置，GOPATH是我们的工作目录，一般用来新建项目。



因为...      </a>
    </p>
    <div class="info-box d-flex align-content-center">
      <p>
        <span class="date">2018-08-31 10:09:41</span>
      </p>
      <p>
        <span class="read-num">阅读数：218</span>
      </p>
      <p>
        <span class="read-num">评论数：0</span>
      </p>
    </div>
      </div>
  <div class="article-item-box csdn-tracking-statistics" data-articleid="82251316">
        <h4 class="">
        <a href="https://blog.csdn.net/yang731227/article/details/82251316" target="_blank">
        <span class="article-type type-1">
            原        </span>
        Beego脱坑（一）——Beego介绍      </a>
    </h4>
    <p class="content">
      <a href="https://blog.csdn.net/yang731227/article/details/82251316" target="_blank">
        beego 简介

beego 是一个快速开发 Go 应用的 HTTP 框架。作者，谢孟军。


	beego 的架构
	
beego 的整体设计架构如下所示：



beego 是基于八大独立的模块构建的，是一个高度解耦的框架。


	beego 的执行逻辑
	


MVC架构

V：view首...      </a>
    </p>
    <div class="info-box d-flex align-content-center">
      <p>
        <span class="date">2018-08-31 09:44:12</span>
      </p>
      <p>
        <span class="read-num">阅读数：270</span>
      </p>
      <p>
        <span class="read-num">评论数：0</span>
      </p>
    </div>
      </div>
</div>
    </main>
    <aside>
		    <div id="asideProfile" class="aside-box">
    <!-- <h3 class="aside-title">个人资料</h3> -->
    <div class="profile-intro d-flex">
        <div class="avatar-box d-flex justify-content-center flex-column">
            <a href="https://me.csdn.net/yang731227">
                <img src="https://avatar.csdn.net/3/B/C/3_yang731227.jpg" class="avatar_pic">
            </a>
                    </div>
        <div class="user-info d-flex justify-content-center flex-column">
            <p class="name csdn-tracking-statistics tracking-click" data-mod="popu_379">
                <a href="https://me.csdn.net/yang731227" target="_blank" class="" id="uid">Clown95</a>
            </p>
                    </div>
                <div class="opt-box d-flex justify-content-center flex-column">
            <span  class="csdn-tracking-statistics tracking-click" data-mod="popu_379">
                <a class="btn btn-sm btn-red-hollow attention" id="btnAttent">关注</a>
            </span>
                    </div>
            </div>
    <div class="data-info d-flex item-tiling">
                <dl class="text-center" title="63">
                        <dt><a href="https://blog.csdn.net/yang731227?t=1">原创</a></dt>
            <dd><a href="https://blog.csdn.net/yang731227?t=1"><span class="count">63</span></a></dd>
                    </dl>
        <dl class="text-center" id="fanBox" title="14">
            <dt>粉丝</dt>
            <dd><span class="count" id="fan">14</span></dd>
        </dl>
        <dl class="text-center" title="0">
            <dt>喜欢</dt>
            <dd><span class="count">0</span></dd>
        </dl>
        <dl class="text-center" title="2">
            <dt>评论</dt>
            <dd><span class="count">2</span></dd>
        </dl>
    </div>
    <div class="grade-box clearfix">
        <dl>
            <dt>等级：</dt>
            <dd>
                <a href="https://blog.csdn.net/home/help.html#level" title="3级,点击查看等级说明" target="_blank">
                    <svg class="icon icon-level" aria-hidden="true">
                        <use xlink:href="#csdnc-bloglevel-3"></use>
                    </svg>
                </a>
            </dd>
        </dl>
        <dl>
            <dt>访问：</dt>
            <dd title="6762">
                6762            </dd>
        </dl>
        <dl>
            <dt>积分：</dt>
            <dd title="685">
                685            </dd>
        </dl>
        <dl title="89823">
            <dt>排名：</dt>
            <dd>8万+</dd>
        </dl>
    </div>
        <div class="badge-box d-flex">
        <span>勋章：</span>
                        <div class="icon-badge" title="持之以恒">
            <div class="mouse-box">
                <svg class="icon" aria-hidden="true">
                    <use xlink:href="#csdnc-m-lasting"></use>
                </svg>
                <div class="icon-arrow"></div>
            </div>
            <div class="grade-detail-box">
                <div class="pos-box">
                    <div class="left-box d-flex justify-content-center align-items-center flex-column">
                        <svg class="icon" aria-hidden="true">
                            <use xlink:href="#csdnc-m-lasting"></use>
                        </svg>
                        <p>持之以恒</p>
                    </div>
                    <div class="right-box d-flex justify-content-center align-items-center">
                        授予每个自然月内发布4篇或4篇以上原创或翻译IT博文的用户。不积跬步无以至千里，不积小流无以成江海，程序人生的精彩需要坚持不懈地积累！
                    </div>
                </div>
            </div>
        </div>
                                                <script>
            (function ($) {
                setTimeout(function(){
                    $('div.icon-badge.show-moment').removeClass('show-moment');
                }, 5000);
            })(window.jQuery)
        </script>
    </div>
    </div>
		    <div class="csdn-tracking-statistics mb8 box-shadow" data-pid="blog" data-mod="popu_4" style="height:250px;">
    <div class="aside-content text-center" id="cpro_u2734133">
      <script type="text/javascript" src="//rabc1.iteye.com/common/leh4.js?idmc=jefav"></script>    </div>
</div>
		    <!--自定义模块-->
<div id="asideCustom68384165" class="aside-box custom-box">
    <h3 class="aside-title"></h3>
    <div class="aside-content clearfix">
            </div>
</div>
		    		    		    <div id="asideCategory" class="aside-box flexible-box">
    <h3 class="aside-title">个人分类</h3>
    <div class="aside-content">
        <ul>
                        <li>
                <a class="clearfix" href="https://blog.csdn.net/yang731227/article/category/8251331">
                    <span class="title oneline">区块链</span>
                    <span class="count float-right">20篇</span>
                </a>
            </li>
                        <li>
                <a class="clearfix" href="https://blog.csdn.net/yang731227/article/category/8058880">
                    <span class="title oneline">go</span>
                    <span class="count float-right">11篇</span>
                </a>
            </li>
                        <li>
                <a class="clearfix" href="https://blog.csdn.net/yang731227/article/category/8251330">
                    <span class="title oneline">solidity教程</span>
                    <span class="count float-right">6篇</span>
                </a>
            </li>
                        <li>
                <a class="clearfix" href="https://blog.csdn.net/yang731227/article/category/7994348">
                    <span class="title oneline">beego</span>
                    <span class="count float-right">15篇</span>
                </a>
            </li>
                        <li>
                <a class="clearfix" href="https://blog.csdn.net/yang731227/article/category/8111184">
                    <span class="title oneline">新浪微博</span>
                    <span class="count float-right">1篇</span>
                </a>
            </li>
                        <li>
                <a class="clearfix" href="https://blog.csdn.net/yang731227/article/category/8251332">
                    <span class="title oneline">以太坊</span>
                    <span class="count float-right">5篇</span>
                </a>
            </li>
                        <li>
                <a class="clearfix" href="https://blog.csdn.net/yang731227/article/category/8326514">
                    <span class="title oneline">goland实现区块链</span>
                    <span class="count float-right">5篇</span>
                </a>
            </li>
                        <li>
                <a class="clearfix" href="https://blog.csdn.net/yang731227/article/category/8326849">
                    <span class="title oneline">Docker</span>
                    <span class="count float-right">7篇</span>
                </a>
            </li>
                        <li>
                <a class="clearfix" href="https://blog.csdn.net/yang731227/article/category/8327024">
                    <span class="title oneline">Hyperledger fabric</span>
                    <span class="count float-right">9篇</span>
                </a>
            </li>
                        <li>
                <a class="clearfix" href="https://blog.csdn.net/yang731227/article/category/8327564">
                    <span class="title oneline">支付</span>
                    <span class="count float-right">1篇</span>
                </a>
            </li>
                        <li>
                <a class="clearfix" href="https://blog.csdn.net/yang731227/article/category/8355754">
                    <span class="title oneline">chaincode</span>
                    <span class="count float-right">4篇</span>
                </a>
            </li>
                        <li>
                <a class="clearfix" href="https://blog.csdn.net/yang731227/article/category/8459118">
                    <span class="title oneline">Redis</span>
                    <span class="count float-right">1篇</span>
                </a>
            </li>
                    </ul>
    </div>
        <p class="text-center">
        <a class="btn btn-link-blue flexible-btn" data-fbox="aside-archive">展开</a>
    </p>
    </div>
		    <div id="asideArchive" class="aside-box">
    <h3 class="aside-title">归档</h3>
    <div class="aside-content">
        <ul class="archive-list">
                        <!--归档统计-->
            <li>
                <a href="https://blog.csdn.net/yang731227/article/month/2018/11">
                    2018年11月                    <span class="count float-right">26篇</span>
                </a>
            </li>
                        <!--归档统计-->
            <li>
                <a href="https://blog.csdn.net/yang731227/article/month/2018/10">
                    2018年10月                    <span class="count float-right">20篇</span>
                </a>
            </li>
                        <!--归档统计-->
            <li>
                <a href="https://blog.csdn.net/yang731227/article/month/2018/09">
                    2018年9月                    <span class="count float-right">12篇</span>
                </a>
            </li>
                        <!--归档统计-->
            <li>
                <a href="https://blog.csdn.net/yang731227/article/month/2018/08">
                    2018年8月                    <span class="count float-right">6篇</span>
                </a>
            </li>
                    </ul>
    </div>
    </div>
		    <div id="asideHotArticle" class="aside-box">
	<h3 class="aside-title">热门文章</h3>
	<div class="aside-content">
		<ul class="hotArticle-list csdn-tracking-statistics tracking-click" data-mod="popu_521">
							<li>
					<a href="https://blog.csdn.net/yang731227/article/details/82503059">Beego脱坑（十三）——ORM之复杂操作</a>
					<p class="read">阅读量：<span>431</span></p>
				</li>
							<li>
					<a href="https://blog.csdn.net/yang731227/article/details/82288067">Beego脱坑（八）——获取表单数据和表单数据解析到结构体</a>
					<p class="read">阅读量：<span>402</span></p>
				</li>
							<li>
					<a href="https://blog.csdn.net/yang731227/article/details/82263125">Beego脱坑（六）——cookie和session</a>
					<p class="read">阅读量：<span>366</span></p>
				</li>
							<li>
					<a href="https://blog.csdn.net/yang731227/article/details/83513012">支付宝、微信免接口支付方案</a>
					<p class="read">阅读量：<span>321</span></p>
				</li>
							<li>
					<a href="https://blog.csdn.net/yang731227/article/details/82106924">IOS企业签名</a>
					<p class="read">阅读量：<span>320</span></p>
				</li>
					</ul>
	</div>
</div>
		    <div id="asideNewComments" class="aside-box">
    <h3 class="aside-title">最新评论</h3>
    <div class="aside-content">
        <ul class="newcomment-list">
                        <li>
                <a class="title text-truncate" target="_blank" href="https://blog.csdn.net/yang731227/article/details/83998276#comments">Docker网络介绍</a>
                <p class="comment">
                    <a href="https://my.csdn.net/the_fool_" class="user-name" target="_blank">the_fool_</a>：mark                </p>
            </li>
                        <li>
                <a class="title text-truncate" target="_blank" href="https://blog.csdn.net/yang731227/article/details/82984800#comments">新浪微博批量取关</a>
                <p class="comment">
                    <a href="https://my.csdn.net/weixin_43190767" class="user-name" target="_blank">weixin_43190767</a>：必须点个赞，某浪特么的很多行为必须要鄙视                </p>
            </li>
                    </ul>
    </div>
</div>
		<div id="asideFooter">
			
		<div class="aside-box">
			<script type="text/javascript" src="//rabc1.iteye.com/common/leh4.js?idmc=jefav"></script>		</div>
				<div class="aside-box">
			<div class="persion_article">
			</div>
		</div>
	</div>
</aside>
<script src="https://csdnimg.cn/pubfooter/js/publib_footer-1.0.3.js" data-isfootertrack="false" type="text/javascript"></script>
<script>
	$("a.flexible-btn").click(function(){
		$(this).parents('div.aside-box').removeClass('flexible-box');
		$(this).remove();
	})
</script>
</div>
<div class="mask"></div>
<div class="promptBox clearfix">
    <div class="title clearfix bottom-dis-16">
        <span class="float-left">提示</span>
        <a class="float-right Boxclose">
            <svg class="icon" aria-hidden="true">
                <use xlink:href="#csdnc-times"></use>
            </svg>
        </a>
    </div>
    <div class="text">确定要删除当前文章？</div>
    <div class="pro-btn float-right">
        <a class="clickNo">取消</a>
        <a class="clickYes">删除</a>
    </div>
</div>
<script>
    var currentPage = 1;
    var baseUrl = 'https://blog.csdn.net/yang731227/article/category/7994348' ;
    var pageSize = 20 ;
    var listTotal = 15 ;
    var pageQueryStr = '';
    function getAllUrl(page) {
        return baseUrl + "/" + page + pageQueryStr;
    }
</script>
<script src="https://g.csdnimg.cn/login-box/1.0.2/login-box.js?t=1542363472"></script>
<script src="https://csdnimg.cn/release/phoenix/vendor/pagination/paging.js"></script>
<script src='https://csdnimg.cn/public/common/gotop/js/goTop-v1.0.min.js?v201811201455'></script>
<script src="https://csdnimg.cn/release/phoenix/template/js/common-503a3d9a2e.min.js"></script>
<script src="https://csdnimg.cn/release/phoenix/template/js/list-150d23d4c1.min.js"></script>


<script>
    GoTop({
        right: 8
    })
</script>
<div class="box-box-default">
    <a class="btn-remove">
        关闭
    </a>
    <script type="text/javascript" src="//cee1.iteye.com/mhzzjepzz.js"></script>
</div>
<div class="box-box-large">
    <a class="btn-remove">
        关闭
    </a>
    <script type="text/javascript" src="//cee1.iteye.com/idvveasfs.js"></script>
</div>
</body>
</html>